---
git_private_key: |
  -----BEGIN RSA PRIVATE KEY-----
  -----END RSA PRIVATE KEY-----
github_access_token:

app_bucket_name:
app_bucket_aws_access_key:
app_bucket_aws_secret_access_key:
app_bucket_region_name:

boshreleases_bucket_name:
boshreleases_bucket_aws_access_key:
boshreleases_bucket_aws_secret_access_key:
boshreleases_bucket_region_name:
boshrelease_private_config: |
  ---
  blobstore:
    options:
      access_key_id:
      secret_access_key:

kubernetes_bucket_name:
kubernetes_bucket_aws_access_key:
kubernetes_bucket_aws_secret_access_key:
kubernetes_bucket_region_name:

bosh_target:
bosh_ca_cert: |
  -----BEGIN CERTIFICATE-----
  -----END CERTIFICATE-----
bosh_username:
bosh_password:
